@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */

body {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fbfd;
  padding-block: 1in;
  font-size: 9pt;
}
a {
  text-decoration: none;
  color: royalblue;
}
h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: royalblue;
  margin-bottom: 0.125in;
}
.page {
  /* A4 paper width and height */
  width: 8.251in;
  height: 11.69in;
  padding: 0.5in;
  background-color: white;
  display: grid;
  grid-template-columns: 60fr 40fr;
  grid-template-rows: min-content;
  column-gap: 0.25in;
  row-gap: 0.25in;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3pt;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 0.25in;
}
.right-column {
  display: flex;
  flex-direction: column;
  gap: 0.25in;
}

/* for print only */

@media print {
  body {
    padding: 0;
    background-color: white;
  }
  .page {
    /* A4 width and height minus 0.5 browser page margin */
    width: calc(8.251in - 1in);
    height: calc(11.69in - 1in);
    padding: 0;
    border: none;
  }
}

/* header */

.summary {
  margin-bottom: 0.125in;
}
.summary .full-name {
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 0.125in;
}
.summary .job-title {
  text-align: justify;
  font-size: 9pt;
  text-indent: 2ch;
}

/* contact */
.contact {
  font-size: 9pt;
  font-style: normal;
}
.contact dl {
  display: flex;
  flex-direction: column;
  gap: 0.125in;
}
.contact div {
  display: flex;
  gap: 0.0625in;
}
.contact dt {
  font-weight: bold;
}
.contact dt::after {
  content: ":";
}
.contact dd {
  font-weight: normal;
}

/* experience */
.experience article {
  margin-bottom: 0.125in;
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.experience .company {
  font-weight: bold;
}
.experience .company::after {
  content: ", ";
}
.experience .location::after {
  content: " — ";
}
.experience .job-title {
  font-style: italic;
}
.experience .duration {
  font-size: 8pt;
  color: #555;
  text-transform: uppercase;
}
.experience .duration .from::after {
  content: " - ";
}
.experience .description {
  color: #555;
  text-align: justify;
  text-indent: 2ch;
  font-size: 8pt;
}

/* education */
.education article {
  margin-bottom: 0.125in;
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.education .school-name {
  font-weight: bold;
}
.education .school-name::after {
  content: ", ";
}
.education .location::after {
  content: " — ";
}
.education .degree {
  font-style: italic;
}
.education .duration {
  font-size: 8pt;
  color: #555;
  text-transform: uppercase;
}
.education .duration .from::after {
  content: " - ";
}
.education .description {
  color: #555;
  text-align: justify;
}

/* projects */
.projects article {
  margin-bottom: 0.125in;
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.projects .project-name {
  font-weight: bold;
}
.projects .description {
  color: #555;
  text-align: justify;
  text-indent: 2ch;
  font-size: 8pt;
}
.projects .stack {
  columns: 2;
  list-style-position: inside;
}
.projects .stack li::marker {
  color: royalblue;
}
.projects .project-link {
  display: inline-flex;
  align-items: center;
  gap: 0.0625in;
}
.projects .project-link svg {
  width: 11pt;
  height: 11pt;
}

/* technical skills */
.technical-skills {
  font-size: 9pt;
  font-style: normal;
}
.technical-skills dl {
  display: flex;
  flex-direction: column;
  gap: 0.125in;
}
.technical-skills div {
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.technical-skills dt {
  font-weight: bold;
}
.technical-skills dt::after {
  content: ":";
}
.technical-skills dd {
  font-weight: normal;
}
.technical-skills ul {
  columns: 2;
  list-style-position: inside;
}
.technical-skills li::marker {
  color: royalblue;
}

/* personal */
.personal ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.125in;
}
.personal li::marker {
  color: royalblue;
}

/* languages */
.languages ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.125in;
}
.languages .language {
  font-weight: bold;
}
.languages .language::after {
  content: ":";
}
.languages .proficiency {
  font-style: italic;
  font-weight: bold;
  font-size: 9pt;
  font-weight: normal;
}
.languages li::marker {
  color: royalblue;
}

/* references */
.references ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.125in;
}
.references li::marker {
  color: royalblue;
}
