@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */

body {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  padding-block: 1in;
  font-size: 9pt;
}
a {
  text-decoration: none;
  color: royalblue;
}
h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: royalblue;
  margin-bottom: 0.125in;
}
.page {
  /* A4 paper width and height */
  width: 8.251in;
  height: 11.69in;
  padding: 0.5in;
  background-color: white;
  display: grid;
  grid-template-columns: 60fr 40fr;
  grid-template-rows: min-content;
  column-gap: 0.25in;
  row-gap: 0.25in;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 0.25in;
}

/* for print only */

@media print {
  body {
    padding: 0;
    background-color: white;
  }
  .page {
    /* A4 width and height minus 0.5 browser page margin */
    width: calc(8.251in - 1in);
    height: calc(11.69in - 1in);
    padding: 0;
  }
}

/* header */

.summary {
  margin-bottom: 0.125in;
}
.summary .full-name {
  font-size: 28pt;
  font-weight: bold;
}
.summary .job-title {
  font-size: 11pt;
}

/* contact me */
.contact {
  font-size: 9pt;
  font-style: normal;
}
.contact dl {
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.contact div {
  display: flex;
  gap: 0.0625in;
}
.contact dt {
  font-weight: bold;
}
.contact dt::after {
  content: ":";
}
.contact dd {
  font-weight: normal;
}

/* experience */
.experience article {
  margin-bottom: 0.25in;
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.experience .company {
  font-weight: bold;
}
.experience .company::after {
  content: ", ";
  font-weight: bold;
}
.experience .location::after {
  content: " — ";
}
.experience .job-title {
  font-style: italic;
}
.experience .duration {
  font-size: 8pt;
  color: #555;
  text-transform: uppercase;
}
.experience .duration .from::after {
  content: " - ";
}
.experience .description {
  color: #555;
  text-align: justify;
}

/* education */
.education article {
  margin-bottom: 0.125in;
  display: flex;
  flex-direction: column;
  gap: 0.0625in;
}
.education .school-name {
  font-weight: bold;
}
.education .school-name::after {
  content: ", ";
  font-weight: bold;
}
.education .location::after {
  content: " — ";
}
.education .degree {
  font-style: italic;
}
.education .duration {
  font-size: 8pt;
  color: #555;
  text-transform: uppercase;
}
.education .duration .from::after {
  content: " - ";
}
.education .description {
  color: #555;
  text-align: justify;
}
