---
import Section from "./ui/Section.astro";

const education = [
  {
    schoolName: "Islamic Azad University",
    major: "M.Sc. in Computer Science & Engineering",
    duration: "September 2024 - Present",
  },
  {
    schoolName: "Shiraz University",
    major: "B.Sc. in Computer Science & Engineering",
    duration: "September 2019 - July 2024",
  },
];
---

<Section title="education">
  <ul class="flex flex-col gap-3">
    {
      education.map((e) => (
        <li class="flex gap-1 before:mr-1 before:text-lg before:font-bold before:text-stone-500 before:content-['•']">
          <span class="font-bold">{e.major},</span>
          <span class="italic">{e.schoolName}</span>
          <span class="ml-auto">{e.duration}</span>
        </li>
      ))
    }
  </ul>
</Section>
