---
import Section from "./ui/Section.astro";

const education = [
  {
    schoolName: "Shiraz University",
    major: "B.C. Computer Science & Engineering",
    duration: "September 2019 - February 2024",
  },
];
---

<Section title="education">
  <div class="flex flex-col gap-2">
    {
      education.map((e) => (
        <p class="flex gap-1">
          <span class="font-bold">{e.major},</span>
          <span class="italic">{e.schoolName}</span>
          <span class="ml-auto">{e.duration}</span>
        </p>
      ))
    }
  </div>
</Section>
