---
import Section from "./ui/Section.astro";
---

<Section title="professional experience">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Front-End Developer,</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://rasamiot.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Rasamiot
        </a>
        <span class="">(Full-time & Remote)</span>
        <span class="ml-auto">June 2022 - present</span>
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-2 text-justify marker:text-stone-500"
      >
        <li>
          Redesigned the company's landing page using <strong>Next.js</strong> and
          <strong>Tailwind</strong>, increasing <strong
            >page speed index by 40%</strong
          >.
        </li>
        <li>
          Collaborated with the Product Manager to develop a scalable web
          application using <strong>React</strong> and <strong
            >TypeScript</strong
          >, enhancing user experience and compliance with latest industry
          standards.
        </li>

        <li>
          Implemented <strong>Vite</strong>, <strong>Zustand</strong>, and
          <strong> React Query</strong> with <strong>Axios</strong> to optimize API
          calls and state management, aligning with industry best practices and
          <strong>improving load times by 20%</strong>.
        </li>
        <li>
          Developed comprehensive unit tests using <strong>Vitest</strong> and
          <strong>React Testing Library</strong>, achieving
          <strong>85% code coverage</strong>
          which reduced production bugs, enhancing system stability and improving
          user satisfaction.
        </li>
      </ul>
    </div>
  </div>
</Section>
