---
import Section from "./ui/Section.astro";
---

<Section title="professional experience">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Front-End Developer,</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://anar360.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Anar360
        </a>
        <span class="">(Hybrid)</span>
        <span class="ml-auto">June 2024 - Present</span>
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-1 text-justify leading-relaxed marker:text-stone-500"
      >
        <li>
          Adapted quickly to the team's workflow and dev environment,
          contributing effectively from the start.
        </li>
        <li>
          Resolved numerous high-priority bugs primarily in <strong>Vue</strong>
          and <strong>TypeScript</strong> code, significantly improving platform
          stability and enhancing the user experience.
        </li>
        <li>
          Designed and developed a responsive, visually engaging landing page
          for makeup artists, incorporating best practices in
          <strong>Nuxt</strong> and <strong>Tailwind</strong> to optimize load time
          and accessibility.
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Front-End Developer,</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://rasamiot.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Rasamiot
        </a>
        <span class="">(Remote)</span>
        <span class="ml-auto">June 2022 - May 2024</span>
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-1 text-justify leading-relaxed marker:text-stone-500"
      >
        <li>
          Redesigned the company's landing page using <strong>Next.js</strong> and
          <strong>Tailwind</strong>, increasing
          <strong>page speed index by 40%</strong>.
        </li>
        <li>
          Collaborated with the Product Manager to develop a scalable web
          application using <strong>React</strong> and
          <strong>TypeScript</strong>, enhancing user experience and ensuring
          compliance with the latest industry standards.
        </li>
        <li>
          Integrated <strong>Vite</strong>, <strong>Zustand</strong>, and
          <strong>React Query</strong> with <strong>Axios</strong> to optimize API
          calls and manage state effectively, resulting in a
          <strong> 20% reduction in load times </strong> and smoother user interactions.
        </li>
      </ul>
    </div>
  </div>
</Section>
