---
import Section from "./ui/Section.astro";
---

<Section title="professional experience">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Front-End Developer,</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://rasamiot.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Rasamiot
        </a>
        <span class="">(Full-time & Remote)</span>
        <span class="ml-auto">June 2022 - present</span>
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-1 marker:text-stone-500"
      >
        <li>
          Partnered with product manager to turn a work in progress draft into a
          fully fledge application with <strong>React</strong>,
          <strong>Typescript</strong> and <strong>MUI</strong>.
        </li>
        <li>
          Improved speed index of company's landing page <strong>by 35%</strong>
          with SSR capabilities of <strong>Next.js</strong> and small bundle size
          of
          <strong>Tailwind</strong>.
        </li>

        <li>
          Used <strong>Vite</strong> as bundler, <strong>Zustand</strong> for state
          management and also <strong>React Query</strong> with
          <strong>Axios</strong> to handle server APIs to ensure all projects compiled
          with correct technology processes, <strong
            >industry best practices</strong
          > and company standards.
        </li>
        <li>
          Wrote unit all unit test with <strong>Vitest</strong> and <strong>
            React testing library
          </strong>. This made production code <strong>100% bug free</strong>.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Front-End Intern,</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://mohaymen.ir/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Mohaymen ICT Company
        </a>
        <span class="">(Internship)</span>
        <span class="ml-auto">July 2021 - August 2021</span>
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-1 marker:text-stone-500"
      >
        <li>
          First team to reach <strong>80% code coverage</strong> in competition which
          Utilized
          <strong>Cypress</strong> for end-to-end testing.
        </li>
        <li>
          Commitment to teamwork and collaboration in <strong>Github</strong> played
          an important role in meeting project deadlines.
        </li>
      </ul>
    </div>
  </div>
</Section>
