---
import Section from "./ui/Section.astro";
---

<Section title="summary">
  <p class="text-justify">
    Passionate Front-End Engineer, with 2+ years of experience creating
    responsive applications and websites using <strong>React</strong>,
    <strong>Typescript</strong> and <strong>Next.js</strong>. Specialties
    include: maintaining excellent user experience, well-versed in data
    visualizations, and crafting stunning animations.
  </p>
</Section>
