---
import Section from "./ui/Section.astro";
---

<Section title="summary">
  <p class="text-justify">
    Passionate Front-End Engineer, with 2+ years of experience creating
    responsive applications and websites in the <strong>IoT industry</strong>.
    With a track record of building and maintaining dashboards for a B2B
    company, my core specialties are in <strong>React</strong>, <strong
      >TypeScript</strong
    >, and
    <strong>Next.js</strong>. Driven by a passion for both personal growth and
    software development, I am ready to apply my coding skills to a talented
    engineering team to develop quality solutions.
  </p>
</Section>
