---
import Section from "./ui/Section.astro";
---

<Section title="summary">
  <p class="text-justify">
    Passionate Front-End Engineer with 2+ years of experience building
    responsive applications and websites in the IoT and e-commerce industries.
    Proven success in creating and maintaining dashboards for B2B companies
    using <strong>React</strong>, <strong>Next.js</strong>, and
    <strong>TypeScript</strong>. In my current role at a dropshipping company
    specializing in cosmetics, I adapted quickly to new tools and frameworks,
    including <strong>Vue</strong>, <strong>Nuxt</strong>, and
    <strong>Tailwind</strong>, enabling the rapid release of new features and
    frequent bug fixes to improve user experience.
  </p>
</Section>
