---
import Section from "./ui/Section.astro";
---

<Section title="summary">
  <p class="text-justify">
    Passionate Front-End Engineer, with 2+ years of experience creating
    responsive applications and websites in IOT industry. with a track record of
    building and maintaining dashboards for a B2B company,

    <!-- using React, Typescript and Next.js. Specialties include: maintaining excellent
    user experience, well-versed in data visualizations, and crafting stunning animations. -->
  </p>
</Section>
