---
import heroData from "../data/hero.json";
---

<section id="summary" class="mb-4 flex flex-col border-b border-stone-800 pb-4">
  <h2 class="mb-1 font-bold uppercase text-stone-500">Summary</h2>
  <p class="text-justify indent-2">
    {heroData.summary}
  </p>
</section>
