---
import Section from "./ui/Section.astro";
---

<Section title="technical skills">
  <ul
    class="grid list-inside list-disc grid-cols-2 gap-1 text-stone-800 marker:text-stone-500"
  >
    <li>HTML, CSS, JavaScript (ES6/ES7), TypeScript</li>
    <li>Bootstrap, MUI, SCSS, Tailwind</li>
    <li>React, Next.js, SSR (Server Side Rendering)</li>
    <li>Redux, Zustand, React Router, React Query</li>
    <li>Cypress, Vitest, React Testing Library</li>
    <li>PWA, RESTful API, Axios, Vite</li>
    <li>Git, Github, Gitlab, Docker</li>
  </ul>
</Section>
